{% extends "base_generic.html" %}

{% block content %}
  <h1>Author: {{ author }}</h1>
  <p class="text-muted">
    {{ author.date_of_birth }} -
    {% if author.date_of_death %}
      {{ author.date_of_death }}
    {% else %}
      Till date
    {% endif %}
  </p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Books</h4>
    {% for book in author.book_set.all %}
    <strong><a class="text-decoration-none" href="{{book.get_absolute_url}}">{{ book.title }} ({{book.id}})</a></strong>
      <p>
        {{ book.summary }}
      </p>

    {% endfor %}
  </div>

{% endblock %}